/*
    TABS
*/

.tabs{
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.tab-item{
    padding: 10px 20px;
    font-size: 14px;
    color: #A2A7AF;
    background-color: #1E1F22;
    white-space: nowrap;
    border: 1px solid transparent;
}
.tab-item:first-child{
    border-top-left-radius: 4px;
}
.tab-item:last-child{
    border-top-right-radius: 4px;
}
.tab-item:hover{
    background-color: #2B343B;
    cursor: pointer;
}
.tab-item--active{
    font-weight: 600;
    color: #FFF;
    background-color: #24272E;
    border-top: 1px solid #2B343B;
    border-left: 1px solid #2B343B;
    border-right: 1px solid #2B343B;
}