<form (submit)="onSubmit()" [formGroup]="formularioRegistrar">
    <div class="formulario-registrar-header">
        <p class="formulario-titulo">Crear cuenta</p>
    </div>
    <div class="formulario-registrar-body">
        <div class="form-control-container">
            <div class="form-control-group mb-10">
                <p class="form-control-label">Email *</p>
                <input type="email" class="form-control" formControlName="email">
                <div class="invalid-feedback" *ngIf="formularioRegistrar.get('email')!.touched || formularioRegistrar.get('email')?.dirty">
                    <p *ngIf="formularioRegistrar.get('email')!.errors?.required">Es un campo requerido</p>
                    <p *ngIf="formularioRegistrar.get('email')!.errors?.pattern">Por favor introduzca un email válido</p>
                </div>
            </div>
            <div class="form-control-group mb-10">
                <p class="form-control-label">Contraseña *</p>
                <input type="password" class="form-control" formControlName="password">
                <div class="invalid-feedback" *ngIf="formularioRegistrar.get('password')!.touched || formularioRegistrar.get('password')?.dirty">
                    <p *ngIf="formularioRegistrar.get('password')!.errors?.required">Es un campo requerido</p>
                </div>
            </div>
            <div class="form-control-group mb-10">
                <p class="form-control-label">Repetir contraseña *</p>
                <input type="password" class="form-control" formControlName="password2" (input)="handlerPassword()">
                <div class="invalid-feedback" *ngIf="formularioRegistrar.get('password2')!.touched || formularioRegistrar.get('password2')?.dirty">
                    <p *ngIf="formularioRegistrar.get('password2')!.errors?.required">Es un campo requerido</p>
                    <p *ngIf="formularioRegistrar.get('password2')!.valid && isWrongPassword">Las contraseñas no coinciden</p>
                </div>
            </div>
        </div>
    </div>
    <div class="formulario-registrar-footer">
        <button type="submit" class="btn-primary w-100" [disabled]="formularioRegistrar.invalid && !isWrongPassword">Registrarse</button>
    </div>
</form>
