<p class="section-title">Gestión de películas</p>

<button class="btn-primary mb-5" (click)="goToCreateMovie()">Agregar película</button>

<div class="table-basic-wrapper table-color">
  <table class="table-basic">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Año</th>
        <th>Rating</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>
          <span>{{ movie.id }}</span>
        </td>
        <td>
          <span>{{ movie.title }}</span>
        </td>
        <td>
          <span>{{ movie.year }}</span>
        </td>
        <td>
          <span>{{ movie.rating }}</span>
        </td>
        <td>
          <button class="mr-5" (click)="goToEditMovie(movie.id)">Editar</button>
          <button (click)="deleteMovie(movie.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
