<div class="alert" [ngClass]="{
        'alert--success': type == 'success',
        'alert--danger': type == 'danger',
        'alert--info': type == 'info',
        'alert--warning': type == 'warning'
    }" *ngIf="isVisible">

    <p class="alert__message">
        <ng-container *ngIf="showIcon">
            <span class="material-icons-outlined mr-5" *ngIf="type == 'success'">check_circle</span>
            <span class="material-icons-outlined mr-5" *ngIf="type == 'danger'">error_outline</span>
            <span class="material-icons-outlined mr-5" *ngIf="type == 'info'">info</span>
            <span class="material-icons-outlined mr-5" *ngIf="type == 'warning'">report_problem</span>
        </ng-container>

        {{ message }}
    </p>

    <ng-container *ngIf="showButtonClose">
        <button type="button" class="alert__button" (click)="this.close()">
            <span class="material-icons-outlined">close</span>
        </button>
    </ng-container>

</div>