<p class="section-titulo">Mi carrito</p>

<div class="table-basic-wrapper table-color">
    <table class="table-basic">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Año</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of _carritoService.carrito.productos">
                <td>
                    <span>{{ movie.id }}</span>
                </td>
                <td>
                    <span>{{ movie.title }}</span>
                </td>
                <td>
                    <span>{{ movie.year }}</span>
                </td>
                <td>
                  <button type="button" class="btn-delete" (click)="_carritoService.quitarProducto(movie)">Quitar</button>  
                </td>
            </tr>
        </tbody>
    </table>
</div>